<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
	<h1 style="text-align: center;"><span style="text-decoration: underline; color: #333333;"><strong>Open Source Information Research Report</strong></span></h1>
	<h2 style="text-align: center;"><span style="color: #333333;"><strong>{{org}}</strong></span></h2>
	<p>&nbsp;</p>
	<hr />
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h2 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333;"><strong>Table of contents</strong></span></span></h2>
	<p style="text-align: center;"><span style="color: #333333;"><strong>1. General scan information</strong></span></p>
	<p style="text-align: center;"><span style="text-decoration: underline; color: #800000;"><strong>[BASIC SCAN INFO]</strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong>2. WHOIS information</strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong>3. Social medias links</strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong>4. Subdomains information</strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong>5. DNS &amp; SSL information</strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong>6. Services &amp; frameworks information<br /></strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong>7. Basic pre-pentest information</strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong><span style="text-decoration: underline; color: #800000;">[DORKING SCAN INFO]</span></strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong><span style="color: #333333;">8. Dorking queries and results links <span style="color: #ff0000;">(if was selected)</span></span><span style="text-decoration: underline; color: #333333;"><br /></span></strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong><span style="color: #333333;"><span style="color: #ff0000;"><span style="text-decoration: underline; color: #800000;">[PAGESEARCH SCAN INFO]</span></span></span></strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong><span style="color: #333333;"><span style="color: #333333;">9. PageSearch results <span style="color: #ff0000;">(if was selected)</span><br /></span></span></strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong>10. PageSearch Sitemap Inspection results <span style="color: #ff0000;">(if was selected)</span></strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong><span style="color: #333333;"><span style="color: #ff0000;"><span style="text-decoration: underline; color: #800000;">[API SCAN INFO]</span></span></span></strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong>11. VirusTotal API scan results <span style="color: #ff0000;">(if was selected)</span></strong></span></p>
	<p style="text-align: center;"><span style="color: #333333;"><strong>12. SecurityTrails API scan results <span style="color: #ff0000;">(if was selected)</span></strong></span></p>
	<p>&nbsp;</p>
	<hr />
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h3 style="text-align: center;"><strong><span style="text-decoration: underline; color: #333333;">GENERAL SCAN INFORMATION</span></strong></h3>
	<p><span style="color: #333333;"><strong>Total subdomains found: <span style="color: #333399;">{{a_tsf}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Total social media links found: <span style="color: #333399;">{{a_tsm}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Status of robots.txt extraction: <span style="color: #333399;">{{robots_txt_result}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Status of sitemap.xml extraction: <span style="color: #333399;">{{sitemap_xml_result}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Status of sitemap.xml links extraction: <span style="color: #333399;">{{sitemap_links}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Google Dorking status: <span style="color: #333399;">{{dorking_status}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>PageSearch conduction: <span style="color: #333399;">{{pagesearch_ui_mark}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Report creation time: <span style="color: #333399;">{{ctime}}</span></strong></span></p>
	<p>&nbsp;</p>
	<hr />
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333;"><strong>WHOIS INFORMATION</strong></span></span></h3>
	<p><span style="color: #333333;"><strong>Domain: <span style="color: #333399;">{{sh_domain}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Full URL: <span style="color: #333399;">{{full_url}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>IP address: <span style="color: #333399;">{{ip_address}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Registrar: <span style="color: #333399;">{{registrar}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Creation date: <span style="color: #333399;">{{creation_date}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Expiration date: <span style="color: #333399;">{{expiration_date}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Organization name: <span style="color: #333399;">{{org}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Contact e-mails: <span style="color: #333399;">{{mails}}</span></strong></span></p>
	<p>&nbsp;</p>
	<hr />
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333;"><strong>SOCIAL MEDIAS SEARCH RESULTS</strong></span></span></h3>
	<p><span style="color: #333333;"><strong>FACEBOOK:</strong></span></p>
	<ul>{% for link in fb_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>TWITTER (+ X.com):</strong></span></p>
	<ul>{% for link in tw_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<ul>{% for link in xcom_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>INSTAGRAM:</strong></span></p>
	<ul>{% for link in inst_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>TELEGRAM:</strong></span></p>
	<ul>{% for link in tg_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>TIKTOK:</strong></span></p>
	<ul>{% for link in tt_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>LINKEDIN:</strong></span></p>
	<ul>{% for link in li_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>VKONTAKTE:</strong></span></p>
	<ul>{% for link in vk_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>YOUTUBE:</strong></span></p>
	<ul>{% for link in yt_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>ODNOKLASSNIKI:</strong></span></p>
	<ul>{% for link in ok_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>WECHAT:</strong></span></p>
	<ul>{% for link in wc_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<p>&nbsp;</p>
	<hr />
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333;"><strong>SUBDOMAINS ANALYSIS RESULTS</strong></span></span></h3>
	<p><span style="color: #333333;"><strong>Found subdomains: </strong></span></p>
	<ul>{% for sd in subdomains %}
	<li><span style="color: #333399;"><strong>=&gt; {{ sd }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>Subdomains IP addresses:</strong></span></p>
	<ul>{% for sdip in subdomain_ip %}
	<li><span style="color: #333399;"><strong>=&gt; {{ sdip }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>Subdomains e-mails:</strong></span></p>
	<ul>{% for smails in subdomain_mails %}
	<li><span style="color: #333399;"><strong>=&gt; {{ smails }}</strong></span></li>
	{% endfor %}</ul>
	<p>&nbsp;</p>
	<hr />
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333;"><strong>DNS &amp; SSL INFORMATION</strong></span></span></h3>
	<p><span style="color: #333333;"><strong>(DNS) Name servers: </strong></span><span style="color: #333399;"><strong>{{name_servers}}</strong></span></p>
	<p><span style="color: #333333;"><strong>(DNS) MX addresses: </strong></span><span style="color: #333399;"><strong>{{mx_records}}</strong></span></p>
	<p><span style="color: #333333;"><strong>(SSL) Issuer: <span style="color: #333399;">{{issuer}}</span><br /></strong></span></p>
	<p><span style="color: #333333;"><strong>(SSL) Subject: <span style="color: #333399;">{{subject}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>(SSL) Not before: <span style="color: #333399;">{{notBefore}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>(SSL) Not after: <span style="color: #333399;">{{notAfter}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>(SSL) Certificate name: <span style="color: #333399;">{{commonName}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>(SSL) Certificate serial number: <span style="color: #333399;">{{serialNumber}}</span></strong></span></p>
	<p>&nbsp;</p>
	<hr />
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333; text-decoration: underline;"><strong>SERVICES &amp; FRAMEWORKS INFORMATION<br /></strong></span></span></h3>
	<p><span style="color: #333333;"><strong>Web servers:</strong></span></p>
	<ul>{% for ws in web_servers %}
	<li><span style="color: #333399;"><strong>=&gt; {{ ws }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>CMS:</strong></span></p>
	<ul>{% for cm in cms %}
	<li><span style="color: #333399;"><strong>=&gt; {{ cm }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>Used programming languages:</strong></span></p>
	<ul>{% for pl in programming_languages %}
	<li><span style="color: #333399;"><strong>=&gt; {{ pl }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>Used web frameworks:</strong></span></p>
	<ul>{% for wf in web_frameworks %}
	<li><span style="color: #333399;"><strong>=&gt; {{ wf }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>Analytics service:</strong></span></p>
	<ul>{% for analytic in analytics %}
	<li><span style="color: #333399;"><strong>=&gt; {{ analytic }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>Used JavaScript frameworks:</strong></span></p>
	<ul>{% for jsf in javascript_frameworks %}
	<li><span style="color: #333399;"><strong>=&gt; {{ jsf }}</strong></span></li>
	{% endfor %}</ul>
	<p><strong><span style="color: #333333;">Tags:</span></strong></p>
	<ul>{% for tag in tags %}
	<li><span style="color: #333399;"><strong>=&gt; {{ tag }}</strong></span></li>
	{% endfor %}</ul>
	<p><strong>Common Platform Enumeration:</strong></p>
	<ul>{% for cpe in cpes %}
	<li><span style="color: #333399;"><strong>=&gt; {{ cpe }}</strong></span></li>
	{% endfor %}</ul>
	<p>&nbsp;</p>
	<hr />
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333; text-decoration: underline;"><strong>BASIC PRE-PENTEST INFORMATION</strong></span></span></h3>
	<p><strong><span style="color: #333333;">Open ports:</span></strong></p>
	<ul>{% for op in ports %}
	<li><span style="color: #333399;"><strong>=&gt; {{ op }}</strong></span></li>
	{% endfor %}</ul>
	<p><strong><span style="color: #333333;">Hostnames:</span></strong></p>
	<ul>{% for hn in hostnames %}
	<li><span style="color: #333399;"><strong>=&gt; {{ hn }}</strong></span></li>
	{% endfor %}</ul>
	<p><strong>Potential vulnerabilities:</strong></p>
	<ul>{% for vuln in vulns %}
	<li><span style="color: #333399;"><strong>=&gt; {{ vuln }}</strong></span></li>
	{% endfor %}</ul>
	<p>&nbsp;</p>
	<hr />
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333; text-decoration: underline;"><strong>DORKING SCAN INFO</strong></span></span></h3>
	<pre style="color: #333399;">{{ add_dsi | safe }}</pre>
	<p>&nbsp;</p>
	<hr />
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333; text-decoration: underline;"><strong>PAGESEARCH RESULTS<br /></strong></span></span></h3>
	<p>&nbsp;</p>
	<p><span style="color: #333333;"><strong>Amount of accessible subdomains: <span style="color: #333399;">{{ps_s}}</span><br /></strong></span></p>
	<p><span style="color: #333333;"><strong>Amount of email addresses: <span style="color: #333399;">{{ps_e}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Amount of found documents: <span style="color: #333399;">{{ps_f}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Amount of found cookies: <span style="color: #333399;">{{ps_c}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Amount of found API key: <span style="color: #333399;">{{ps_a}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Amount of WEB elements found: <span style="color: #333399;">{{ps_w}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong><span style="color: #333333;">Amount of exposed passwords found: <span style="color: #333399;">{{ps_p}}</span><br /></span></strong></span></p>
	<p>&nbsp;</p>
	<hr />
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333; text-decoration: underline;"><strong>PAGESEARCH SITEMAP INSPECTION RESULTS</strong></span></span></h3>
	<p>&nbsp;</p>
	<p><span style="color: #333333;"><strong>Total links amount: <span style="color: #333399;">{{ss_l}}</span><br /></strong></span></p>
	<p><span style="color: #333333;"><strong>Amount of accessed links: <span style="color: #333399;">{{ss_a}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>&nbsp;</strong></span></p>
	<hr />
	<p>&nbsp;</p>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333; text-decoration: underline;"><strong>VIRUSTOTAL API SCAN RESULTS</strong></span></span></h3>
	<p>&nbsp;</p>
	<p><span style="color: #333333;"><strong>Categories: <span style="color: #333399;">{{vt_cats}}</span><br /></strong></span></p>
	<p><span style="color: #333333;"><strong>Detected URLs: <span style="color: #333399;">{{vt_deturls}}</span><br /></strong></span></p>
	<p><span style="color: #333333;"><strong>Detected samples: <span style="color: #333399;">{{vt_detsampls}}</span><br /></strong></span></p>
	<p><span style="color: #333333;"><strong>Undetected samples: <span style="color: #333399;">{{vt_undetsampls}}</span><br /></strong></span></p>
	<p><span style="color: #333333;"><strong>&nbsp;</strong></span></p>
	<hr />
	<p>&nbsp;</p>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333; text-decoration: underline;"><strong>SECURITY TRAILS API SCAN RESULTS</strong></span></span></h3>
	<p>&nbsp;</p>
	<p><span style="color: #333333;"><strong>Alexa rank: <span style="color: #333399;">{{st_alexa}}</span><br /></strong></span></p>
	<p><span style="color: #333333;"><strong>Apex domain: <span style="color: #333399;">{{st_apex}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Hostname: <span style="color: #333399;">{{st_hostname}}</span><br /></strong></span></p>
	<p><span style="color: #333333;"><strong>A records:<span style="color: #333399;"></span><br /></strong></span></p>
	<ul>{% for st_ip in st_ip_combined %}
	<li><span style="color: #333399;"><strong>=&gt; {{ st_ip }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>MX records:<span style="color: #333399;"></span><br /></strong></span></p>
	<ul>{% for st_mx in st_mx_combined %}
	<li><span style="color: #333399;"><strong>=&gt; {{ st_mx }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>NS records:<span style="color: #333399;"></span><br /></strong></span></p>
	<ul>{% for st_ns in st_ns_combined %}
	<li><span style="color: #333399;"><strong>=&gt; {{ st_ns }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>SOA records:<span style="color: #333399;"></span><br /></strong></span></p>
	<ul>{% for st_soa in st_soa_combined %}
	<li><span style="color: #333399;"><strong>=&gt; {{ st_soa }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>TXT records values:<span style="color: #333399;"></span><br /></strong></span></p>
	<ul>{% for val in st_val %}
	<li><span style="color: #333399;"><strong>=&gt; {{ val }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>Subdomains list<span style="color: #333399;"></span><br /></strong></span></p>
	<ul>{% for subd in st_subds %}
	<li><span style="color: #333399;"><strong>=&gt; {{ subd }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>&nbsp;</strong></span></p>
	<hr />
	<p>&nbsp;</p>
	<h3 style="color: #334455; padding-top: 10px; text-align: center;"><strong><span style="color: #333333;">Created using DPULSE software by OSINT-TECHNOLOGIES</span></strong></h3>
	<p style="color: #334455; padding-top: 10px; text-align: left;"><strong><span style="color: #333333;">Visit our web-pages:</span></strong></p>
	<ul>
	<li style="color: #334455; text-align: left;"><strong><span style="color: #333333;">https://github.com/OSINT-TECHNOLOGIES</span></strong></li>
	<li style="color: #334455; text-align: left;"><strong><span style="color: #333333;">https://pypi.org/project/dpulse/</span></strong></li>
	</ul>
