<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }
        h1, h2, h3 { color: #111; }
        h3 { text-align: center; margin-top: 20px; }
        ul { list-style: none; padding: 0; }
        li { margin: 4px 0; }
        .section { margin: 10px 40px; }
    </style>
</head>
<body>

<h1 style="text-align:center;">Open Source Research Report</h1>
<h2 style="text-align:center;">{{org}}</h2>
<hr />

<h3>Table of Contents</h3>
<div class="section">
  <p>1. General scan information</p>
  <p>2. WHOIS information</p>
  <p>3. Social medias links</p>
  <p>4. Subdomains information</p>
  <p>5. DNS & SSL information</p>
  <p>6. Services & frameworks</p>
  <p>7. Basic pre-pentest information</p>
  <p>8. Dorking scan info</p>
  <p>9. PageSearch results</p>
  <p>10. API scan results</p>
</div>
<hr />

<h3>GENERAL SCAN INFO</h3>
<div class="section">
  <p><b>Total subdomains:</b> {{a_tsf}}</p>
  <p><b>Total social media links:</b> {{a_tsm}}</p>
  <p><b>Status of robots.txt:</b> {{robots_txt_result}}</p>
  <p><b>Status of sitemap.xml:</b> {{sitemap_xml_result}}</p>
  <p><b>Status of sitemap links:</b> {{sitemap_links}}</p>
  <p><b>Google Dorking:</b> {{dorking_status}}</p>
  <p><b>PageSearch:</b> {{pagesearch_ui_mark}}</p>
  <p><b>Snapshotting:</b> {{snapshotting_ui_mark}}</p>
  <p><b>Report time:</b> {{ctime}}</p>
</div>
<hr />

<h3>WHOIS INFORMATION</h3>
<div class="section">
  <p><b>Domain:</b> {{sh_domain}}</p>
  <p><b>Full URL:</b> {{full_url}}</p>
  <p><b>IP address:</b> {{ip_address}}</p>
  <p><b>Registrar:</b> {{registrar}}</p>
  <p><b>Creation date:</b> {{creation_date}}</p>
  <p><b>Expiration date:</b> {{expiration_date}}</p>
  <p><b>Organization name:</b> {{org}}</p>
  <p><b>Contact e-mails:</b> {{mails}}</p>
</div>
<hr />

<h3>SOCIAL MEDIAS SEARCH RESULTS</h3>
<div class="section">
  <p><b>FACEBOOK:</b></p><ul>{% for link in fb_links %}<li>⇒ {{ link }}</li>{% endfor %}</ul>
  <p><b>TWITTER (+ X.com):</b></p><ul>{% for link in tw_links %}<li>⇒ {{ link }}</li>{% endfor %}{% for link in xcom_links %}<li>⇒ {{ link }}</li>{% endfor %}</ul>
  <p><b>INSTAGRAM:</b></p><ul>{% for link in inst_links %}<li>⇒ {{ link }}</li>{% endfor %}</ul>
  <p><b>TELEGRAM:</b></p><ul>{% for link in tg_links %}<li>⇒ {{ link }}</li>{% endfor %}</ul>
  <p><b>TIKTOK:</b></p><ul>{% for link in tt_links %}<li>⇒ {{ link }}</li>{% endfor %}</ul>
  <p><b>LINKEDIN:</b></p><ul>{% for link in li_links %}<li>⇒ {{ link }}</li>{% endfor %}</ul>
  <p><b>VKONTAKTE:</b></p><ul>{% for link in vk_links %}<li>⇒ {{ link }}</li>{% endfor %}</ul>
  <p><b>YOUTUBE:</b></p><ul>{% for link in yt_links %}<li>⇒ {{ link }}</li>{% endfor %}</ul>
  <p><b>ODNOKLASSNIKI:</b></p><ul>{% for link in ok_links %}<li>⇒ {{ link }}</li>{% endfor %}</ul>
  <p><b>WECHAT:</b></p><ul>{% for link in wc_links %}<li>⇒ {{ link }}</li>{% endfor %}</ul>
</div>
<hr />

<h3>SUBDOMAINS ANALYSIS RESULTS</h3>
<div class="section">
  <p><b>Found subdomains:</b></p><ul>{% for sd in subdomains %}<li>⇒ {{ sd }}</li>{% endfor %}</ul>
  <p><b>Subdomains IP addresses:</b></p><ul>{% for sdip in subdomain_ip %}<li>⇒ {{ sdip }}</li>{% endfor %}</ul>
  <p><b>Subdomains e-mails:</b></p><ul>{% for smails in subdomain_mails %}<li>⇒ {{ smails }}</li>{% endfor %}</ul>
</div>
<hr />

<h3>DNS & SSL INFORMATION</h3>
<div class="section">
  <p><b>(DNS) Name servers:</b> {{name_servers}}</p>
  <p><b>(DNS) MX addresses:</b> {{mx_records}}</p>
  <p><b>(SSL) Issuer:</b> {{issuer}}</p>
  <p><b>(SSL) Subject:</b> {{subject}}</p>
  <p><b>(SSL) Not before:</b> {{notBefore}}</p>
  <p><b>(SSL) Not after:</b> {{notAfter}}</p>
  <p><b>(SSL) Certificate name:</b> {{commonName}}</p>
  <p><b>(SSL) Certificate serial number:</b> {{serialNumber}}</p>
</div>
<hr />

<h3>SERVICES & FRAMEWORKS INFORMATION</h3>
<div class="section">
  <p><b>Web servers:</b></p><ul>{% for ws in web_servers %}<li>⇒ {{ ws }}</li>{% endfor %}</ul>
  <p><b>CMS:</b></p><ul>{% for cm in cms %}<li>⇒ {{ cm }}</li>{% endfor %}</ul>
  <p><b>Used programming languages:</b></p><ul>{% for pl in programming_languages %}<li>⇒ {{ pl }}</li>{% endfor %}</ul>
  <p><b>Used web frameworks:</b></p><ul>{% for wf in web_frameworks %}<li>⇒ {{ wf }}</li>{% endfor %}</ul>
  <p><b>Analytics service:</b></p><ul>{% for analytic in analytics %}<li>⇒ {{ analytic }}</li>{% endfor %}</ul>
  <p><b>Used JavaScript frameworks:</b></p><ul>{% for jsf in javascript_frameworks %}<li>⇒ {{ jsf }}</li>{% endfor %}</ul>
  <p><b>Tags:</b></p><ul>{% for tag in tags %}<li>⇒ {{ tag }}</li>{% endfor %}</ul>
  <p><b>Common Platform Enumeration:</b></p><ul>{% for cpe in cpes %}<li>⇒ {{ cpe }}</li>{% endfor %}</ul>
</div>
<hr />

<h3>BASIC PRE-PENTEST INFORMATION</h3>
<div class="section">
  <p><b>Open ports:</b></p><ul>{% for op in ports %}<li>⇒ {{ op }}</li>{% endfor %}</ul>
  <p><b>Hostnames:</b></p><ul>{% for hn in hostnames %}<li>⇒ {{ hn }}</li>{% endfor %}</ul>
  <p><b>Potential vulnerabilities:</b></p><ul>{% for vuln in vulns %}<li>⇒ {{ vuln }}</li>{% endfor %}</ul>
</div>
<hr />

<h3>DORKING SCAN INFO</h3>
<div class="section"><pre>{{ add_dsi | safe }}</pre></div>
<hr />

<h3>PAGESEARCH RESULTS</h3>
<div class="section">
  <p><b>Amount of accessible subdomains:</b> {{ps_s}}</p>
  <p><b>Amount of email addresses:</b> {{ps_e}}</p>
  <p><b>Amount of found documents:</b> {{ps_f}}</p>
  <p><b>Amount of found cookies:</b> {{ps_c}}</p>
  <p><b>Amount of found API key:</b> {{ps_a}}</p>
  <p><b>Amount of WEB elements found:</b> {{ps_w}}</p>
  <p><b>Amount of exposed passwords found:</b> {{ps_p}}</p>
</div>
<hr />

<h3>VIRUSTOTAL API SCAN RESULTS</h3>
<div class="section"><pre>{{ virustotal_output }}</pre></div>
<hr />

<h3>SECURITYTRAILS API SCAN RESULTS</h3>
<div class="section"><pre>{{ securitytrails_output }}</pre></div>
<hr />

<h3>HUDSONROCK API SCAN RESULTS</h3>
<div class="section"><pre>{{ hudsonrock_output }}</pre></div>
<hr />

<p style="text-align:center;">Created by DPULSE (OSINT-TECHNOLOGIES)</p>
<ul style="text-align:center;list-style:none;padding:0;">
  <li><a href="https://github.com/OSINT-TECHNOLOGIES">GitHub</a></li>
  <li><a href="https://pypi.org/project/dpulse/">PyPI</a></li>
</ul>

</body>
</html>