<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
	<h1 style="text-align: center;"><span style="text-decoration: underline; color: #333333;"><strong>Open Source Information Research Report</strong></span></h1>
	<h2 style="text-align: center;"><span style="color: #333333;"><strong>{{org}}</strong></span></h2>
	<p>&nbsp;</p>
	<h3 style="text-align: center;"><strong><span style="text-decoration: underline; color: #333333;">GENERAL SCAN INFORMATION</span></strong></h3>
	<p><span style="color: #333333;"><strong>Total subdomains found: <span style="color: #333399;">{{a_tsf}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Total social media links found: <span style="color: #333399;">{{a_tsm}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Status of robots.txt extraction: <span style="color: #333399;">{{robots_txt_result}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Status of sitemap.xml extraction: <span style="color: #333399;">{{sitemap_xml_result}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Status of sitemap.xml links extraction: <span style="color: #333399;">{{sitemap_links}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Google Dorking status: <span style="color: #333399;">{{dorking_status}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>PageSearch conduction: <span style="color: #333399;">{{pagesearch_ui_mark}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Report creation time: <span style="color: #333399;">{{ctime}}</span></strong></span></p>
	<p>&nbsp;</p>
	<p><span style="color: #333333;"><strong><span style="text-decoration: underline;"><em>Since user chose to conduct PageSearch, you are presented with following additional information:</em></span><br /></strong></span></p>
	<p><span style="color: #333333;"><strong>Total subdomains checked: <span style="color: #333399;">{{a_tsf}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Amount of accessible subdomains: <span style="color: #333399;">{{acc_sd}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Amount of additional e-mails found: <span style="color: #333399;">{{add_mails}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Amount of extracted files: <span style="color: #333399;">{{extr_files}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Found cookies with values: <span style="color: #333399;">{{cookies}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Found API keys: <span style="color: #333399;">{{apis}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Found different web page elements: <span style="color: #333399;">{{wpe}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Found exposed passwords: <span style="color: #333399;">{{exp_pass}}</span></strong></span></p>
	<p><span style="text-decoration: underline; color: #ff0000;"><em>You can find more PageSearch scan results in the end of this report</em></span></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div class="notranslate" style="all: initial;">&nbsp;</div>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333;"><strong>WHOIS INFORMATION</strong></span></span></h3>
	<p><span style="color: #333333;"><strong>Domain: <span style="color: #333399;">{{sh_domain}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Full URL: <span style="color: #333399;">{{full_url}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>IP address: <span style="color: #333399;">{{ip_address}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Registrar: <span style="color: #333399;">{{registrar}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Creation date: <span style="color: #333399;">{{creation_date}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Expiration date: <span style="color: #333399;">{{expiration_date}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Organization name: <span style="color: #333399;">{{org}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Contact e-mails: <span style="color: #333399;">{{mails}}</span></strong></span></p>
	<h3 style="text-align: center;">&nbsp;</h3>
	<pdf:nextpage/>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333;"><strong>SOCIAL MEDIAS SEARCH RESULTS<br /></strong></span></span></h3>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><span style="color: #333333;"><strong>FACEBOOK:</strong></span></p>
	<ul>{% for link in fb_links %}
	<li><span style="color: #333399;"><strong>=&gt; {{ link }}</strong></span></li>
	{% endfor %}</ul>
	<p><span style="color: #333333;"><strong>TWITTER:</strong></span></p>
	<ul>
	{% for link in tw_links %}
	<li><span style="color: #333399;"><strong>=> {{ link }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>INSTAGRAM:</strong></span></p>
	<ul>
	{% for link in inst_links %}
	<li><span style="color: #333399;"><strong>=> {{ link }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>TELEGRAM:</strong></span></p>
	<ul>
	{% for link in tg_links %}
	<li><span style="color: #333399;"><strong>=> {{ link }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>TIKTOK:</strong></span></p>
	<ul>
	{% for link in tt_links %}
	<li><span style="color: #333399;"><strong>=> {{ link }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>LINKEDIN:</strong></span></p>
	<ul>
	{% for link in li_links %}
	<li><span style="color: #333399;"><strong>=> {{ link }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>VKONTAKTE:</strong></span></p>
	<ul>
	{% for link in vk_links %}
	<li><span style="color: #333399;"><strong>=> {{ link }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>YOUTUBE:</strong></span></p>
	<ul>
	{% for link in yt_links %}
	<li><span style="color: #333399;"><strong>=> {{ link }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>ODNOKLASSNIKI:</strong></span></p>
	<ul>
	{% for link in ok_links %}
	<li><span style="color: #333399;"><strong>=> {{ link }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>WECHAT:</strong></span></p>
	<ul>
	{% for link in wc_links %}
	<li><span style="color: #333399;"><strong>=> {{ link }}</strong></span></li>
	{% endfor %}
	</ul>
	<h3 style="text-align: center;">&nbsp;</h3>
	<pdf:nextpage/>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333;"><strong>SUBDOMAINS ANALYSIS RESULTS</strong></span></span></h3>
	<p><span style="color: #333333;"><strong>Found subdomains: </strong></span></p>
	<ul>
	{% for sd in subdomains %}
	<li><span style="color: #333399;"><strong>=> {{ sd }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>Subdomains IP addresses:</strong></span></p>
	<ul>
	{% for sdip in subdomain_ip %}
	<li><span style="color: #333399;"><strong>=> {{ sdip }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>Subdomains e-mails:</strong></span></p>
	<ul>
	{% for smails in subdomain_mails %}
	<li><span style="color: #333399;"><strong>=> {{ smails }}</strong></span></li>
	{% endfor %}
	</ul>
	<h3 style="text-align: center;">&nbsp;</h3>
	<pdf:nextpage/>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333;"><strong>DNS SCAN RESULTS</strong></span></span></h3>
	<p><span style="color: #333333;"><strong>Name servers: </strong></span><span style="color: #333399;"><strong>{{name_servers}}</strong></span></p>
	<p><span style="color: #333333;"><strong>MX addresses: </strong></span><span style="color: #333399;"><strong>{{mx_records}}</strong></span></p>
	<p>&nbsp;</p>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333;"><strong>SSL CERTIFICATE INFORMATION<br /></strong></span></span></h3>
	<p><span style="color: #333333;"><strong>Issuer: <span style="color: #333399;">{{issuer}}</span><br /></strong></span></p>
	<p><span style="color: #333333;"><strong>Subject: <span style="color: #333399;">{{subject}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Not before: <span style="color: #333399;">{{notBefore}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Not after: <span style="color: #333399;">{{notAfter}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Certificate name: <span style="color: #333399;">{{commonName}}</span></strong></span></p>
	<p><span style="color: #333333;"><strong>Certificate serial number: <span style="color: #333399;">{{serialNumber}}</span></strong></span></p>
	<h3 style="text-align: center;">&nbsp;</h3>
	<pdf:nextpage/>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333; text-decoration: underline;"><strong>INTERNETDB API SEARCH RESULTS</strong></span></span></h3>
	<p><strong><span style="color: #333333;">Open ports:</span></strong></p>
	<ul>
	{% for op in ports %}
	<li><span style="color: #333399;"><strong>=> {{ op }}</strong></span></li>
	{% endfor %}
	</ul><p><strong><span style="color: #333333;">Hostnames:</span></strong></p>
	<ul>
	{% for hn in hostnames %}
	<li><span style="color: #333399;"><strong>=> {{ hn }}</strong></span></li>
	{% endfor %}
	</ul><p><strong><span style="color: #333333;">Tags:</span></strong></p>
	<ul>
	{% for tag in tags %}
	<li><span style="color: #333399;"><strong>=> {{ tag }}</strong></span></li>
	{% endfor %}
	</ul><p><strong>Potential vulnerabilities:</strong></p>
	<ul>
	{% for vuln in vulns %}
	<li><span style="color: #333399;"><strong>=> {{ vuln }}</strong></span></li>
	{% endfor %}
	</ul><p><strong>Common Platform Enumeration:</strong></p>
	<ul>
	{% for cpe in cpes %}
	<li><span style="color: #333399;"><strong>=> {{ cpe }}</strong></span></li>
	{% endfor %}
	</ul><p>&nbsp;</p>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333; text-decoration: underline;"><strong>WEBSITE TECHNOLOGIES SEARCH RESULTS</strong></span></span></h3>
	<p><span style="color: #333333;"><strong>Web servers:</strong></span></p>
	<ul>
	{% for ws in web_servers %}
	<li><span style="color: #333399;"><strong>=> {{ ws }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>CMS:</strong></span></p>
	<ul>
	{% for cm in cms %}
	<li><span style="color: #333399;"><strong>=> {{ cm }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>Used programming languages:</strong></span></p>
	<ul>
	{% for pl in programming_languages %}
	<li><span style="color: #333399;"><strong>=> {{ pl }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>Used web frameworks:</strong></span></p>
	<ul>
	{% for wf in web_frameworks %}
	<li><span style="color: #333399;"><strong>=> {{ wf }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>Analytics service:</strong></span></p>
	<ul>
	{% for analytic in analytics %}
	<li><span style="color: #333399;"><strong>=> {{ analytic }}</strong></span></li>
	{% endfor %}
	</ul>
	<p><span style="color: #333333;"><strong>Used JavaScript frameworks:</strong></span></p>
	<ul>
	{% for jsf in javascript_frameworks %}
	<li><span style="color: #333399;"><strong>=> {{ jsf }}</strong></span></li>
	{% endfor %}
	</ul>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<pdf:nextpage/>
	<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #333333;"><strong>PAGESEARCH SCAN RESULTS<br /></strong></span></span></h3>
	<p><span style="color: #333333;"><strong>Found keywords in PDFs: </strong></span><span style="color: #333399;"><strong></span></p>
	<ul>
	{% for km in kml %}
	<li><span style="color: #333399;"><strong>=> {{ km }}</strong></span></li>
	{% endfor %}
	</ul>
	<p>&nbsp;</p>
	<h3 style="color: #334455; padding-top: 10px; text-align: center;"><strong><span style="color: #333333;">Created using DPULSE software by OSINT-TECHNOLOGIES</span></strong></h3>
	<p style="color: #334455; padding-top: 10px; text-align: left;"><strong><span style="color: #333333;">Visit our web-pages:</span></strong></p>
	<ul>
	<li style="color: #334455; text-align: left;"><strong><span style="color: #333333;">https://github.com/OSINT-TECHNOLOGIES</span></strong></li>
	<li style="color: #334455; text-align: left;"><strong><span style="color: #333333;">https://pypi.org/project/dpulse/</span></strong></li>
	</ul>
